<div class="" style="">
    <h6 styles="margin-top:10px;font-size:16px;color:#212121;" class="sectionTitle">{{schema.name | uppercase}}</h6>
    <hr/>
    <ul>
        <!--li wa-simple-form-item ng-if="property.type !== 'object' && property.type !== 'anyOf'" schema="property" model="model[property.name]"
            ng-repeat="property in schema.properties"></li>
        <li wa-object-form-item ng-if="property.type === 'object'" schema="property" model="model[property.name]" ng-repeat="property in schema.properties"></li>
        <li wa-any-of-form-item ng-if="property.type === 'anyOf'" schema="property" model="model[property.name]" ng-repeat="property in schema.properties"></li-->
        <li wa-array-form-item ng-if="property.type === 'array'" schema="property" model="model[property.name]" ng-repeat="property in schema.properties"></li>
    </ul>
    <button ladda = "false" class="btn btn-sm btn-primary roboto-regular" data-style="zoom-out" ng-click="generate()" style="color:white;background-color:#555;margin-top:70px;padding:0.5rem 1rem !important;    border-radius: 0.25rem;height:38px;font-size:1rem;">Save</button>
</div>