<div class="container-fluid">
    <div class="row" style="height:32px;border-bottom:1px solid #c5c5c5;">
        <a href="#/"><i class="fa fa-long-arrow-left"></i> Back</a>
    </div>
    <div class="row">
        <div class="col-xs-8" style="margin-top:30px;">
            <flash-message duration="3000" show-close="true"></flash-message>
            <div wa-section model="section.items[0]" />
            <div style="margin-top:20px;">
                <button class="btn" ng-click="section.generate()" style="color:white;background-color:#555;">Save</button>
            </div>
        </div>
    </div>
</div>
