<div class="container-fluid">
    <div class="row" style="height:33px;border-bottom:1px solid #c5c5c5;"></div>
    <div style="margin-top:30px;font-family : Roboto;">
        <h3 style="font-family1:'Roboto';font-size : 11px;color : #555555;">BACKEND CONFIG</h3>
        <h1 style="font-family1:'Roboto';font-size : 34px;color : #212121;">Contents</h1>
    </div>
    <div class="row" style="margin-top:30px !important;">
        <div class="col-xs-2">
            <div class=" card tile " style=" " ng-click="section.navigate('authentification')">
                <div class="card-block content ">
                    <div>
                        <img src="assets/icon_authentication.png" />
                    </div>
                </div>
                <div class="card-block title ">
                    AUTHENTICATION
                </div>
            </div>
        </div>
        <div class="col-xs-2 ">
            <div class="card tile " style=" " ng-click="section.navigate('cache')">
                <div class="card-block content ">
                    <div>
                        <img src="assets/icon_cache.png " />
                    </div>
                </div>
                <div class="card-block title ">
                    CACHE
                </div>
            </div>
        </div>
    </div>
</div>